{% extends 'base.html.twig' %}

{% block title %}Edit Auteur
{% endblock %}

{% block stylesheets %}
<style> 
     
 body { 
    background-color:#d4dae0; 
      }   
</style> 
 {% endblock %}

{% block body %}
	<h1 style="text-align: center; font-size:3em;font-weight:700;">Edit Auteur</h1>
 <div class="row justify-content-center"> 
    <div class="col-md-10">
		{{ include('auteur/_form.html.twig', {'button_label': 'Enregistrer'}) }}
	</div>
</div>
{% endblock %}
